{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h2>Fractales</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia blanditiis mollitia atque sed hic itaque quisquam, nulla nobis nostrum, nisi aliquam voluptates maxime minus saepe velit quis dolore quam quaerat!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/fractal.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}
